<div class="container-fluid menu">
    <br><br>
    <div class="row">
      <div class="col sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/area-contenido">Alumnos</a>
          </li>
          <br><hr>
          <li class="nav-item">
            <a class="nav-link" routerLink="/area-contenido-cursos">Cursos</a>
          </li>
          <br><hr>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <br><hr>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <!-- Contenido principal -->
      </div>
    </div>
  </div>