<mat-grid-list cols="2" rowHeight="700px">
<mat-grid-tile *ngIf="isAdmin">
<form  [formGroup]="userModel" class="example-form" >

<h1 appTitulo20px >Agregar Alumnos</h1>
  <mat-grid-list cols="2" rowHeight="150px" class="example-full-width" cellspacing="0"><tr>
    <mat-grid-tile><mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput  formControlName="nombre">
    </mat-form-field></mat-grid-tile>
    <mat-grid-tile><mat-form-field class="example-full-width">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field></mat-grid-tile>
    <mat-grid-tile><mat-form-field class="example-full-width">
      <mat-label>DNI</mat-label>
      <input matInput  formControlName="dni">
    </mat-form-field></mat-grid-tile>
  </tr></mat-grid-list>
  <button mat-raised-button color="primary" (click)="guardar(userModel.value)">Guardar</button>
  
</form>
</mat-grid-tile>
<mat-grid-tile>
  <div class="container">
  <br><hr>
<h1 appTitulo20px >Lista de Alumnos</h1>
<hr>
<table class="table container-fluid">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col" *ngIf="isAdmin">Acciones</th>
 
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let item of alumnos$ | async">
        <td>{{item | nombreCompleto}}</td>
        <td>{{item.dni}}</td>
        <td><mat-icon *ngIf="isAdmin" (click)="eliminarAlumno(item.id.toString())" >delete</mat-icon><mat-icon *ngIf="isAdmin" (click)="editarAlumno(item)">edit</mat-icon></td>
  
      </tr>
    </tbody>
</table>    
</div>
</mat-grid-tile>
</mat-grid-list>