<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name" />
        <input type="password" placeholder="password" />
        <input type="text" placeholder="email address" />
        <button>create</button>
      </form>
      <form class="login-form">
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email" />
        <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" />
        <button (click)="login()">Ingresar</button>
      </form>
    </div>
  </div>